absl-py 
aiohttp 
aiosignal 
alembic 
asttokens 
astunparse 
async-timeout 
attrs 
backcall 
backports.functools-lru-cache 
bcrypt 
blinker 
brotlipy 
cached-property 
cachetools 
certifi==2023.5.7
cffi 
charset-normalizer 
click 
cloudpickle 
comm 
configparser 
contourpy 
cryptography 
cycler 
databricks-cli 
debugpy 
decorator 
docker 
entrypoints 
executing 
Flask 
flatbuffers 
fonttools 
frozenlist 
gast 
gitdb 
GitPython 
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
gorilla 
greenlet 
grpcio 
gunicorn 
h5py 
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
itsdangerous 
jedi 
Jinja2 
joblib==1.2.0
jupyter_client 
jupyter_core 
keras 
Keras-Preprocessing 
kiwisolver 
Mako 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mlflow==2.3.2
multidict 
munkres==1.1.4
nest-asyncio 
numpy 
oauthlib 
opt-einsum 
packaging 
pandas 
paramiko 
parso 
pexpect 
pickleshare 
Pillow 
platformdirs 
ply==3.11
pooch 
prompt-toolkit 
protobuf==4.21.12
psutil 
ptyprocess 
pure-eval 
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
pyDOE==0.3.8
Pygments 
PyJWT 
PyNaCl 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQt5-sip==12.11.0
PySocks 
python-dateutil 
pytz 
pyu2f 
PyYAML 
pyzmq 
querystring-parser==1.2.4
requests 
requests-oauthlib 
rsa 
scikit-learn==1.2.2
scipy 
simplejson 
sip 
six 
smmap 
SQLAlchemy 
sqlparse 
stack-data 
tabulate 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow 
tensorflow-estimator 
termcolor 
threadpoolctl==3.1.0
toml 
tomli 
tornado 
traitlets 
typing_extensions 
tzdata 
unicodedata2 
urllib3 
wcwidth 
websocket-client 
Werkzeug 
wrapt 
yarl 
zipp 
tqdm
